.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
    overflow-x: hidden;
}

.intro-text {
    text-align: left;
    margin-top: 15%;
    margin-bottom: 20%;
}

.intro-image {
    max-width: 450px;
    width: 100%;
    height: auto;
    transform: rotate(-20deg);
    translate: 50px 0px;
    margin-left: 175px;
    background: radial-gradient(ellipse at bottom, red, blue);
    background-size: 500px 500px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-50%);
    translate: 500px 100px;
    width: 700px;
    height: 700px;
    background: radial-gradient(at center, #BEE3DB, rgba(0, 0, 0, 0) 70%);
}
