.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
    overflow: hidden;
}

.intro-text {
    text-align: left;
    margin-top: 15%;
    margin-bottom: 20%;
}

.intro-image {
    max-width: 600px;
    width: 100%;
    height: auto;
    transform: rotate(-20deg);
}

.image-container {
    position: relative;
    display: inline-block;
    translate: 100px 0px;
}

.image-container::before {
    content: "";
    position: absolute;
    inset: -100px;
    border-radius: 50%;

    background: radial-gradient(
        circle,
        #BEE3DB,
        transparent 100%
    );

    filter: blur(30px);
    z-index: -1;
}

.image-container img {
    display: block;
}