.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
    overflow: hidden;
    padding-bottom: 120px;
    margin-bottom: 100px;
}

.intro-text {
    text-align: left;
    margin-top: 15%;
    margin-bottom: 20%;
}

.intro-image {
    max-width: 600px;
    width: 100%;
    height: auto;
    transform: rotate(-20deg);
}

.image-container {
    position: relative;
    display: inline-block;
    translate: 100px -50px;
}

.image-container::before {
    content: "";
    position: absolute;
    inset: -100px;
    border-radius: 50%;

    background: radial-gradient(
        circle,
        #BEE3DB,
        transparent 100%
    );

    filter: blur(30px);
    z-index: -1;
}

.image-container img {
    display: block;
}

.introduction-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.introduction-card {
    background-color: #031f2b;
    border-radius: 15px;
    padding: 10px 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    max-width: 40%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.introduction-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0,0,0,0.7);
}

.divider {
    height: 150px;
    background: #48596C;
    background: linear-gradient(180deg, rgba(72, 89, 108, 1) 0%, rgba(42, 50, 61, 1) 100%);
    margin-bottom: 0;
}

.middle {
    background-color: rgba(42, 50, 61, 1);
    padding-top: 20px;
    padding-bottom: 30px;
}

.middle h1 {
    margin-top: 0;
}

.footer {
    text-align: center;
    background-color: rgb(25, 29, 36);
    padding: 16px;
}